.registerFormStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.registerInputStyle {
    width: 100%;
}
.imageContainer {
    width: 5vw;
    height: auto;
    border: solid 4px black;
    border-radius: 25%;
}
.imageStyle {
    width: 100%;
    height: 100%;
}
.imageColStyle{
    display: flex;
    align-items: center;
    justify-content: center;
}

